body {
    background-color: #529652;
    /* width: 100vw; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
}
table {
    background-color: #8CCA8C;
    width: 600px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}
caption {
    caption-side: bottom;
    color: white;
    text-align: center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th, td {
    border: 1px solid black;
    padding: 1em;
}
table>tbody>tr>th>img {
    padding: 10px;
    border: 3px solid #4B894B;
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: top;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    text-align: left;
}
li a{
    color:black;
    transition: .4s ease-in-out;
}
li a:hover{
    background-color:#529652;
    color: #fff;
}